
.main-form{
   
    display: flex;
    align-items: center;

}
form{
 margin: auto;
   background-color: blue;
  
}

.serchBox{
height: 50px;
width: 500px;
background-color: red;

}
.searchButton{
    height: 55px;
    width: 100px;
    background-color: aqua;
}

